page-home {
    ion-icon[name='ios-analytics'] {
        font-size: 42px;
        color: yellow;
    }

    ion-icon[name='ios-arrow-round-forward-outline'] {
        font-size: 52px;
        color: lightgray;
    }

    .hour-text {
        font-size: 32px;
    }
}
